.individualProject{
    height: 650px;
    border: 2px solid grey;
    width: 90%;
    overflow: hidden;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}

.img{
    width: 100%;
    height: 420px;
    position: relative;
    transition: 0.5s transform;
    display: inline-block;
    background-color: #2f2f2f;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.icons{
    width: max-content;
    display: flex;
    gap: 3rem;
}

.icons a{
    color: var(--dark-blue);
    font-size: 2rem;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.info{
    width: 90%;
    margin: 0 auto;
    color: var(--dark-blue);
}

.desc{
    margin: 1rem auto; 
}

.tagConatiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 0 auto;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--dark-blue);
    border: 2px solid var(--light-blue);
    background-color: #c9c9c9;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and  (max-width:715px){
.individualProject{
    height: 700px;
    width: 100%;
}
.title{
    font-size: 1rem;
}

.tagConatiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    row-gap: 1rem;
    margin: 0 auto;
}

.icons{
    gap: 1rem;
}

.icons a{
    font-size: 1.3rem;
}
    .tag{
        font-size: 0.8rem;
    }


}