.individualSkill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f2f2f;
    padding: 0.5rem;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.6);
padding-bottom: 1rem;
}

.individualSkill i{
    font-size: 5rem;
}

.individualSkill h3{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 300;    
}



.skillWithPercent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.percentProgressBar{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    /* background: rgb(19,28,243);
background: linear-gradient(90deg, rgba(19,28,243,1) 0%, rgba(10,232,184,1) 0%, rgba(150,105,207,1) 100%); */
}

.percentProgressBar::before{
    content: '';
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: var(--white);
    border-radius: 50%;
}

.percent{
    position: absolute;
    font-size: 14px;
}

@media only screen and (max-width: 500px){
    .individualSkill i{
        font-size: 3rem;
    }

    .skillWithPercent{
        font-size: 0.9rem;
    }
}